<textarea class="form-control" rows="5" ng-model="query"></textarea>

<div>
  <button ng-click="run()">Run query</button>
</div>

<div ng-repeat="r in data.result">
  <table class="table table-striped" ng-show="r.type == 'query'">
    <th ng-repeat="column in r.header">
      {{ column }}
    </th>
    <tr ng-repeat="row in r.values">
      <td ng-repeat="element in row">
      {{ element }}
      </td>
    </tr>
  </table>
  <p ng-show="r.type == 'statement'">
    {{ r.lines }}
  </p>
</div>
<div ng-show="$error">
  {{ $error }}
</div>