<div class="login" ng-show="auth">
  <div>
    Username: 
    <input ng-model="username"></input>
  </div>
  <div>
    Password: 
    <input ng-model="password"></input>
  </div>
  <div class="admin-tab">
    <span><button ng-click="login();" class="tab">Login</button></span>
    <span><button ng-click="logout();" class="tab">Logout</button></span>
  </div>
  <div class="message" ng-class="{error: $error}">{{ $error.msg }}</div>
  <div ng-if="loggedIn">
    Logged in.
  </div>
</div>
<div class="login" ng-show="!auth">
  Authentication is not enabled on the server.
</div>