<div class="admin">
  <div class="admin-tab">
    <button ng-click="loadTables()" class="tab">Reload</button>
    <button ng-repeat="table in data.tables track by $index" ng-click="pickTable(table.name);"
            class="tab" ng-class="{selected: activeTable.name == table.name}">{{ table.name }}</button>
  </div>
  <div class="message" ng-class="{error: $error}">{{ $error.msg }}</div>
  <div ng-if="activeTable">
    <span class="admin-label">Columns</span>
    <table class="admin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Not null</th>
          <th>Unique</th>
          <th>Indexed</th>
          <th>Immutable</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="column in activeTable.columns">
          <td>{{ column.name }}</td>
          <td>{{ column.type }}</td>
          <td>{{ column.nullable ? '' : 'not null' }}</td>
          <td>{{ column.unique ? 'unique' : '' }}</td>
          <td>{{ column.indexed ? 'indexed' : '' }}</td>
          <td>{{ column.immutable ? 'immutable' : '' }}</td>
          <td>
            <span ng-click="dropColumn(column.name);" title="Discard"
                  class="button enabled glyphicon glyphicon-trash"></span>
          </td>
        </tr>
        <tr>
          <td><input ng-model="newColumn.name" class="admin-input"></input></td>
          <td>
            <select ng-model="newColumn.type" class="admin-input">
              <option value="varchar">varchar</option>
              <option value="integer">integer</option>
              <option value="float">float</option>
              <option value="timestamp">timestamp</option>
              <option value="boolean">boolean</option>
            </select>
          </td>
          <td><input type="checkbox" ng-model="newColumn.notnull"></input></td>
          <td><input type="checkbox" ng-model="newColumn.unique"></input></td>
          <td><input type="checkbox" ng-model="newColumn.indexed"></input></td>
          <td><input type="checkbox" ng-model="newColumn.immutable"></input></td>
          <td>
            <span ng-click="addColumn();" title="Add"
                  class="button enabled glyphicon glyphicon-plus"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="activeTable">
    <span class="admin-label">Foreign keys</span>
    <table class="admin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Reverse name</th>
          <th>Column name</th>
          <th>Reference table</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fk in activeTable.foreignKeys">
          <td>{{ fk.name }}</td>
          <td>{{ fk.revName }}</td>
          <td>{{ fk.column }}</td>
          <td>{{ fk.refTable }}</td>
          <td>
            <span ng-click="dropConstraint(fk.name);" title="Discard"
                  class="button enabled glyphicon glyphicon-trash"></span>
          </td>
        </tr>
        <tr>
          <td><input ng-model="newFK.name" class="admin-input"></input></td>
          <td><input ng-model="newFK.revName" class="admin-input"></input></td>
          <td>
            <select ng-model="newFK.column" class="admin-input">
              <option ng-value="column.name" ng-repeat="column in activeTable.columns track by $index">{{ column.name }}</option>
            </select>
          </td>
          <td>
            <select ng-model="newFK.refTable" class="admin-input">
              <option ng-value="table.name" ng-repeat="table in data.tables track by $index">{{ table.name }}</option>
            </select>
          </td>
          <td>
            <span ng-click="addFK();" title="Add"
                  class="button enabled glyphicon glyphicon-plus"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="activeTable">
    <span class="admin-label">Reverse foreign keys</span>
    <table class="admin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Reverse name</th>
          <th>Reference table</th>
          <th>Reference column</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rfk in activeTable.reverseForeignKeys">
          <td>{{ rfk.name }}</td>
          <td>{{ rfk.revName }}</td>
          <td>{{ rfk.refTable }}</td>
          <td>{{ rfk.refColumn }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="activeTable">
    <span class="admin-label">Aggregated fields</span>
    <table class="admin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Expression</th>
          <th class="icon"></th>
          <th class="icon"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ref in activeTable.aggRefs">
          <td>{{ ref.name }}</td>
          <td>{{ ref.expr }}</td>
          <td class="icon"><span ng-click="dropAggRef(ref.name);" title="Discard"
              class="button enabled glyphicon glyphicon-trash"></span></td>
          <td class="icon"><span ng-click="copyAggRef(ref);" title="Copy"
              class="button enabled glyphicon glyphicon-copy"></span></td>
        </tr>
        <tr>
          <td><input ng-model="newAggRef.name" class="admin-input"></input></td>
          <td><textarea ng-model="newAggRef.expr" class="admin-input-wide" placeholder="select sum(x) as s_x from rev_fk"></textarea></td>
          <td class="icon">
            <span ng-click="addAggRef();" title="Add" class="button enabled glyphicon glyphicon-plus"></span>
          </td>
          <td class="icon"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="activeTable">
    <span class="admin-label">Rules</span>
    <table class="admin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Expression</th>
          <th class="icon"></th>
          <th class="icon"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in activeTable.rules">
          <td>{{ rule.name }}</td>
          <td>{{ rule.expr }}</td>
          <td class="icon">
            <span ng-click="dropConstraint(rule.name);" title="Discard"
                  class="button enabled glyphicon glyphicon-trash"></span>
          </td>
          <td class="icon">
            <span ng-click="copyRule(rule);" title="Copy"
                  class="button enabled glyphicon glyphicon-copy"></span>
          </td>
        </tr>
        <tr>
          <td><input ng-model="newRule.name" class="admin-input"></input></td>
          <td><textarea ng-model="newRule.expr" class="admin-input-wide" placeholder="x + fk.y > 0"></textarea></td>
          <td class="icon">
            <span ng-click="addRule();" title="Add" class="button enabled glyphicon glyphicon-plus"></span>
          </td>
          <td class="icon"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>