body {
    background-color: rgba(192, 192, 192, 1);
    background-image: url("/icons/steel.jpg");
    background-blend-mode: overlay;
}

.admin table {
    font-family: Lucida;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.admin td, .admin th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 14px;
}

.admin tr:nth-child(even){background-color: #F2F2F2;}

.admin tr:hover {background-color: #DDD;}

.admin th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #602040;
    color: white;
}

h4.sql {
    padding: 8px;
}

textarea.sql {
    width: 500px;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 8px;
}

div.sql-result {
    padding: 8px;
}

button.tab {
    background-color: rgba(0, 0, 0, 0);
    padding: 4px;
    margin: 4px;
    width: 80px;
    border: none;
}

button.tab:hover {
    background: radial-gradient(rgba(128, 255, 192, 1) 10%, rgba(128, 255, 192, 0.0) 90%);
}

button.tab:active {
    border: none;
    outline: 0;
}

button.tab:focus {
    border: none;
    outline: 0;
}

button.selected {
    background: radial-gradient(rgba(64, 208, 160, 1) 10%, rgba(64, 208, 160, 0.0) 90%);
}

div.sql {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}

.menu span {
    margin: 4px;
    font-size: 14px;
}

div.menu {
    padding: 4px;
    margin: 4px;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}

h3.menu {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}

div.login {
    padding: 8px;
    
}

.login div {
    padding: 4px;
}

.login input {
    padding: 4px;
}

.login button {
    padding: 4px;
}

div.monitoring {
    padding: 8px;
}

.monitoring table {
    font-family: Lucida;
    font-size: 12px;
    border-collapse: collapse;
    width: 800px;
    margin: 8px;
}

.monitoring td, .monitoring th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.monitoring tr:nth-child(even){background-color: #F2F2F2;}
.monitoring tr:nth-child(odd){background-color: #FFFFFF;}

.monitoring tr:hover {background-color: #DDD;}

.monitoring th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

.admin table {
    font-family: Lucida;
    font-size: 12px;
    border-collapse: collapse;
    width: auto;
    margin: 8px;
}

.admin td, .admin th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.admin tr {
    width: 100%;
    table-layout: fixed;
    display: table;
}

.admin tbody {
    overflow-y: scroll;
    overflow-x: none;
    display: block;
    max-height: 300px;
    width: 655px;
}

.admin thead {
    display: table;
    width: 640px;
    table-layout: fixed;
}

.admin tr:nth-child(even){background-color: #F2F2F2;}
.admin tr:nth-child(odd){background-color: #FFFFFF;}

.admin tr:hover {background-color: #DDD;}

.admin th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

span.admin-table {
    padding: 4px;
    margin: 4px;
    border: 1px;
    border-style: solid;
    border-color: #E0E8F0;
}

div.admin-tab {
    display: inline-flex;
    padding-left: 8px;
    padding-bottom: 8px;
}

span.admin-label {
    padding: 4px;
    margin: 4px;
    margin-left: 8px;
    background-color: #E0F0FF;
}

input.admin-input {
    width: 80px;
}

input.admin-input-wide {
    width: 200px;
}

textarea.admin-input-wide {
    width: 200px;
    height: 40px;
}

a.menu {
	padding: 4px;
  color: #333;
  background: none;
  text-decoration: none;
}

a.menu:hover {
	background: radial-gradient(rgba(128, 255, 192, 1) 10%, rgba(128, 255, 192, 0.0) 90%);
	text-decoration: none;
}
