<div class="popup">
  <div class="entity-menu">
    <span ng-click="cancel()" title="Search" class="button glyphicon glyphicon-ban-circle"></span>
    <span ng-click="searchEntity()" title="Search" class="button glyphicon glyphicon-search"></span>
    <span ng-repeat="field in meta.fields">
      <span ng-show="field.search">
        {{ field.name }}<input ng-model="searchFields[field.name].value" class="search"/>
      </span>
    </span>
  </div>
  
  <div class="message" ng-class="{error: $error}">{{ $error }}</div>
  
  <entity-list entities="entityList" pick="pick({id: id})" ng-if="entityList"></entity-list>
</div>