<div class="entity">
  <table>
    <th ng-repeat="header in entities.header track by $index">
      {{ header.name }}
    </th>
    <th ng-if="open">Open</th>
    <th ng-if="delete">Delete</th>
    <tr ng-repeat="row in entities.values track by $index">
      <td ng-repeat="element in row track by $index">
      {{ element }}
      </td>
      <td><button ng-click="open({id: row[0]});" class="tab" ng-if="open">Open</button></td>
      <td><button ng-click="delete({id: row[0]});" class="tab" ng-if="delete">Delete</button></td>
    </tr>
  </table>
</div>
