<div class="editor">
  <table>
    <th>Name</th>
    <th>Type</th>
    <th>Value</th>
    <tr ng-repeat="field in entity.fields track by $index">
      <td>{{ field.name }}</td>
      <td>{{ field.type }}</td>
      <td ng-switch on="field.type">
        <input ng-model="field.value" disabled ng-switch-when="id"></input>
        <input ng-model="field.value" placeholder="###" ng-switch-when="integer"></input>
        <input ng-model="field.value" placeholder="##.#" ng-switch-when="float"></input>
        <input ng-model="field.value" ng-switch-default></input>
      </td>
    </tr>
  </table>
  <div ng-repeat="fk in entity.foreignKeys track by $index" class="subentity">
    {{ fk.name}}
    <button ng-click="expandEntity(fk);" class="tab" ng-if="fk.value">Expand</button>
    <button ng-click="pickEntity(fk);" class="tab">Pick</button>
    <entity-editor entity="entityList[fk.name]" ng-if="entityList[fk.name]"></entity-editor>
  </div>
  <div ng-repeat="rfk in entity.reverseForeignKeys track by $index" class="subentity">
    {{ rfk.name }} <button ng-click="expandEntityList(rfk);" class="tab">Expand</button>
    <entity-list entities="entityList[rfk.name]" ng-if="entityList[rfk.name]"></entity-list>
  </div>
  <button ng-click="saveEntity();" class="tab">Save</button>
</div>