<div>
  <span ng-repeat="entity in data.entities">
    <button ng-click="switchEntity(entity.name);" class="tab">{{ entity.name }}</button>
  </span>
</div>

<hr/>

<h4>{{ activeEntity.name }}</h4>
<div>
  <span><button ng-click="searchEntity()" class="sql">Search</button></span>
  <span ng-repeat="field in activeEntity.fields">
    <span ng-show="field.search">
      {{ field.name }}<input ng-model="searchFields[field.name]"/>
    </span>
  </span>
</div>

<div class="entity" ng-show="entityList">
  <table>
    <th ng-repeat="header in entityList.header track by $index">
      {{ header.name }}
    </th>
    <th>Open</th>
    <th>Delete</th>
    <tr ng-repeat="row in entityList.values track by $index">
      <td ng-repeat="element in row track by $index">
      {{ element }}
      </td>
      <td><button ng-click="openEntity(activeEntity.name, row[0]);" class="tab">Open</button></td>
      <td><button ng-click="deleteEntity(activeEntity.name, row[0]);" class="tab">Delete</button></td>
    </tr>
  </table>
</div>

