.entity table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 300px;
}

.entity td, .entity th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.entity tr:nth-child(even){background-color: #F2F2F2;}

.entity tr:hover {background-color: #DDD;}

.entity th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

span.button {
    padding: 4px;
}

span.button:hover {background-color: #80C0FF;}

span.button:active {background-color: #60A0FF;}

.editor table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 300px;
}

.editor td, .entity th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.editor tr:nth-child(even){background-color: #F2F2F2;}

.editor tr:hover {background-color: #DDD;}

.editor th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

div.entity-menu {
    margin: 4px;
}

span.entity-menu-label {
    margin-left: 8px;
    margin-right: 16px;
}

div.subentity {
    border-style: solid;
    border-width: 1px;
    border-color: #C0B0A0;
}

input.search {
    margin-left: 4px;
    width: 80px;
}

div.popup {
    position:absolute;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-style: solid;
    border-width: 1px;
    border-color: #C0B0A0;
    background-color: #FFFFF0;
    padding: 12px;
    height: 60%;
    width: 80%;
}

object.icons {
    height: 20px;
    width: 20px;
}