div.toolbar {
    background-color: #FAFAFA;
}

.entity table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 300px;
}

.entity td, .entity th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.entity tr:nth-child(even){background-color: #F2F2F2;}
.entity tr:nth-child(odd){background-color: #FFFFFF;}

.entity tr:hover {background-color: #DDD;}

.entity th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

span.button {
    padding: 4px;
}

span.disabled {
    opacity: .25;
}

span.enabled {
    opacity: 1;
}

span.button:hover {background: radial-gradient(rgba(64, 160, 255, 1), rgba(64, 160, 255, 0.0) 80%);}

span.button:active {background: radial-gradient(rgba(32, 128, 255, 1), rgba(32, 128, 255, 0.0) 80%);}

.editor table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 300px;
}

.editor td, .entity th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

td.empty {
    background-color: #FFF0F0;
}

.editor tr:nth-child(even){background-color: #F2F2F2;}
.editor tr:nth-child(odd){background-color: #FFFFFF;}

.editor tr:hover {background-color: #DDD;}

.editor th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #602040;
    color: white;
}

div.entity {
    padding-left: 4px;
}

div.editor {
    padding-left: 4px;
    padding-bottom: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #F0F0F0;
    background-color: #FFFFFF;
    border-radius: 8px;
}

div.entity-menu {
    margin: 4px;
}

span.entity-menu-label {
    margin-left: 8px;
    margin-right: 16px;
}

span.entity-title {
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
}

div.subentity {
    padding-bottom: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #F0F0F0;
    background-color: #FDFDFD;
    border-radius: 8px;
}

input.search {
    margin-left: 4px;
    width: 80px;
}

div.popup {
    position:absolute;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #C0B0A0;
    border-radius: 8px;
    padding: 12px;
    height: 60%;
    width: 80%;
    background: rgba(255, 255, 239, 0.9);
}

div.error {
    color: #CC0000;
    background-color: #F8F8F8;
    border-width: 1px;
    border-style: solid;
    border-color: #F0F0F0;
}

div.message {
    margin: 2px;
    height: 22px;
}

object.icons {
    height: 20px;
    width: 20px;
}

hr.entity {
  margin-top: 4px;
  margin-bottom: 4px;
}
