div.help-left {
  float: left;
  width: 20%;
  padding: 8px;
}

div.help-right {
  float: right;
  width: 80%;
  padding: 8px;
}

div.help-button:hover {
  background: radial-gradient(rgba(128, 255, 192, 0.8) 50%, rgba(128, 255, 192, 0.2) 80%);
  cursor: pointer;
}

div.help-button:active {
  background: radial-gradient(rgba(64, 208, 160, 0.8) 50%, rgba(64, 208, 160, 0.2) 80%);
}

div.help-button {
  padding: 2px;
  padding-bottom: 8px;
}