<h4 class="sql">Run SQL</h4>

<textarea class="sql" rows="5" ng-model="query"></textarea>

<div class="sql-result">
  <button ng-click="run()" class="tab">Run query</button>
</div>

<div class="sql-result">
<div ng-repeat="r in data.result track by $index">
  <table class="admin" ng-show="r.type == 'query'">
    <th ng-repeat="column in r.header track by $index">
      {{ column }}
    </th>
    <tr ng-repeat="row in r.values track by $index">
      <td ng-repeat="element in row track by $index">
      {{ element }}
      </td>
    </tr>
  </table>
  <p ng-show="r.type == 'statement'">
    Statement affected {{ r.lines }} lines.
  </p>
</div>
<div ng-show="$error">
  {{ $error.loc }}: {{ $error.msg }}
</div>
</div>