<div class="admin">
<div>
  <button ng-click="loadTables()">Reload</button>
</div>

Tables
<div ng-repeat="table in data.tables track by $index" class="admin-table" id="table-{{ table.name }}"
     ng-style="tableStyle(table, $index);">
  {{ table.name }}
  <table class="admin">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Nullable</th>
    <th>Unique</th>
    <th>Indexed</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="column in table.columns">
    <td>{{ column.name }}</td>
    <td>{{ column.type }}</td>
    <td>{{ column.nullable ? '' : 'not null' }}</td>
    <td>{{ column.unique ? 'unique' : '' }}</td>
    <td>{{ column.indexed ? 'indexed' : '' }}</td>
  </tr>
  </tbody>
  </table>
</div>
</div>