<div>
  <button ng-click="loadTables()">Reload</button>
</div>

<h2>Tables:<h2/>
<div ng-repeat="table in data.tables">
  {{ table.name }}<br/>
  Columns:<br/>
  <table class="admin">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Nullable</th>
    <th>Unique</th>
    <th>Indexed</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="column in table.columns">
    <td>{{ column.name }}</td>
    <td>{{ column.type }}</td>
    <td>{{ column.nullable ? '' : 'not null' }}</td>
    <td>{{ column.unique ? 'unique' : '' }}</td>
    <td>{{ column.indexed ? 'indexed' : '' }}</td>
  </tr>
  </tbody>
  </table>

  Foreign keys:<br/>
  <table class="admin">
  <thead>
  <tr>
    <th>Name</th>
    <th>Column</th>
    <th>Referenced table</th>
    <th>Referenced column</th>
  </tr>
  </thead>
  <tbody>
  <tbody>
  <tr ng-repeat="fk in table.foreignKeys">
    <td>{{ fk.name }}</td>
    <td>{{ fk.column }}</td>
    <td>{{ fk.refTable }}</td>
    <td>{{ fk.refColumn }}</td>
  </tr>
  </tbody>
  </table>
  
  Reverse foreign keys:<br/>
  <table class="admin">
  <thead>
  <tr>
    <th>Name</th>
    <th>Column</th>
    <th>Referenced table</th>
    <th>Referenced column</th>
  </tr>
  </thead>
  <tbody>
  <tbody>
  <tr ng-repeat="fk in table.reverseForeignKeys">
    <td>{{ fk.name }}</td>
    <td>{{ fk.column }}</td>
    <td>{{ fk.refTable }}</td>
    <td>{{ fk.refColumn }}</td>
  </tr>
  </tbody>
  </table>
</div>
