<div>
  <button ng-click="loadTables()">Reload</button>
</div>

Tables:
<ul>
<li ng-repeat="table in data.tables">
  {{ table.name }}<br>
  Columns:
  <ul>
  <li ng-repeat="column in table.columns">
    {{ column.name }}
    {{ column.type }}
    {{ column.nullable ? '' : 'not null' }}
    {{ column.unique ? 'unique' : '' }}
    {{ column.indexed ? 'indexed' : '' }}
  </li>
  </ul>
  Foreign keys:
  <ul>
  <li ng-repeat="fk in table.foreignKeys">
    {{ fk.name }}: {{ fk.column }} -> {{ fk.refTable }}({{ fk.refColumn }})
  </li>
  </ul>
  Reverse foreign keys:
  <ul>
  <li ng-repeat="fk in table.reverseForeignKeys">
    {{ fk.name }}: {{ fk.refTable }}({{ fk.refColumn }}) -> {{ fk.column }}
  </li>
  </ul>
</li>
</ul>

Unique indexes:
<ul>
<li ng-repeat="index in data.uniqueIndexes">
  {{ index }}
</li>
</ul>

Multi-indexes:
<ul>
<li ng-repeat="index in data.multiIndexes">
  {{ index }}
</li>
</ul>