<div>
  <button ng-click="loadMonitoring()">Reload</button>
</div>

<table>
  <tr><td>Load:</td><td>{{ data.load }}</td></tr>
  <tr><td>Free memory:</td><td>{{ data.freeMemory | number : fractionSize }}</td></tr>
  <tr><td>Total memory:</td><td>{{ data.totalMemory | number : fractionSize }}</td></tr>
  <tr><td>Max memory:</td><td>{{ data.maxMemory | number : fractionSize }}</td></tr>
</table>

Unique indexes:
<div ng-repeat="index in data.uniqueIndexes">
  <table>
    <tr><td>Name:</td><td>{{ index.name }}</td></tr>
    <tr><td>File size:</td><td>{{ index.indexFileSize | number : fractionSize }}</td></tr>
    <tr><td>Nodes in memory:</td><td>{{ index.inMemNodes | number : fractionSize }}</td></tr>
    <tr><td>Pending nodes:</td><td>{{ index.pendingNodes | number : fractionSize }}</td></tr>
  </table>
</div>


Multi indexes:
<div ng-repeat="index in data.multiIndexes">
  <table>
    <tr><td>Name:</td><td>{{ index.name }}</td></tr>
    <tr><td>Trie file size:</td><td>{{ index.trieFileSize | number : fractionSize }}</td></tr>
    <tr><td>Index file size:</td><td>{{ index.indexFileSize | number : fractionSize }}</td></tr>
    <tr><td>Nodes in memory:</td><td>{{ index.trieInMemNodes | number : fractionSize }}</td></tr>
    <tr><td>Trie pending nodes:</td><td>{{ index.triePendingNodes | number : fractionSize }}</td></tr>
    <tr><td>Pending nodes:</td><td>{{ index.pendingNodes | number : fractionSize }}</td></tr>
  </table>
</div>