<div class="monitoring">
<div>
  <button ng-click="loadMonitoring()" class="tab">Reload</button>
</div>

<table>
  <tr><td>Load:</td><td>{{ data.load }}</td></tr>
  <tr><td>Free memory:</td><td>{{ data.freeMemory | number : fractionSize }}</td></tr>
  <tr><td>Total memory:</td><td>{{ data.totalMemory | number : fractionSize }}</td></tr>
  <tr><td>Max memory:</td><td>{{ data.maxMemory | number : fractionSize }}</td></tr>
</table>

Unique indexes:
<div>
  <table>
    <thead>
      <th>Name</th>
      <th>File size</th>
      <th>Nodes in memory</th>
      <th>Pending nodes</th>
      <th>Test</th>
    </thead>
    <tbody>
      <tr ng-repeat="index in data.uniqueIndexes">
        <td>{{ index.name }}</td>
        <td>{{ index.indexFileSize | number : fractionSize }}</td>
        <td>{{ index.inMemNodes | number : fractionSize }}</td>
        <td>{{ index.pendingNodes | number : fractionSize }}</td>
        <td>
          <input ng-model=testKeys[index.name]></input>
          <span ng-click="loadIndexValues(index.name);" title="Load" class="button glyphicon glyphicon-refresh"></span>
          <label>{{ testValues[index.name] }}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>


Multi indexes:
<div>
  <table>
    <thead>
      <th>Name</th>
      <th>Trie file size</th>
      <th>Index file size</th>
      <th>Nodes in memory</th>
      <th>Trie pending nodes</th>
      <th>Pending nodes</th>
    </thead>
    <tbody>
      <tr ng-repeat="index in data.multiIndexes">
        <td>{{ index.name }}</td>
        <td>{{ index.trieFileSize | number : fractionSize }}</td>
        <td>{{ index.indexFileSize | number : fractionSize }}</td>
        <td>{{ index.trieInMemNodes | number : fractionSize }}</td>
        <td>{{ index.triePendingNodes | number : fractionSize }}</td>
        <td>{{ index.pendingNodes | number : fractionSize }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>