.admin table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.admin td, .admin th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 14px;
}

.admin tr:nth-child(even){background-color: #f2f2f2;}

.admin tr:hover {background-color: #ddd;}

.admin th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #602040;
    color: white;
}

.sql textarea {
    width: 400px;
    background-color: #FFE0E0;
}

.menu span {
    border: 1px solid #ddd;
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

.menu div {
    border: 1px solid #ddd;
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}