body {
    background-color: #FFFFFF;
}

.admin table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.admin td, .admin th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 14px;
}

.admin tr:nth-child(even){background-color: #F2F2F2;}

.admin tr:hover {background-color: #DDD;}

.admin th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #602040;
    color: white;
}

textarea.sql {
    width: 500px;
    background-color: #F0F0F0;
}

button.sql {
    background-color: #F0F0F0;
    padding: 4px;
    margin: 4px;
}

button.tab {
    background-color: #FAFAFA;
    padding: 4px;
    margin: 4px;
    width: 80px;
    border: none;
}

button.tab:hover {
    background: radial-gradient(rgba(128, 192, 255, 1) 10%, rgba(128, 192, 255, 0.0) 90%);
}

button.tab:active {
    border: none;
    outline: 0;
}

button.tab:focus {
    border: none;
    outline: 0;
}

button.selected {
    background: radial-gradient(rgba(64, 160, 255, 1) 10%, rgba(64, 160, 255, 0.0) 90%);
}

div.sql {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}

.menu span {
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

div.menu {
    padding: 4px;
    margin: 4px;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}

h3.menu {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}
