body {
    background-color: #FFFFF0;
}

.admin table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.admin td, .admin th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 14px;
}

.admin tr:nth-child(even){background-color: #F2F2F2;}

.admin tr:hover {background-color: #DDD;}

.admin th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #602040;
    color: white;
}

textarea.sql {
    width: 500px;
    background-color: #FFF4E0;
}

button.sql {
    background-color: #FFF4E0;
    padding: 4px;
    margin: 4px;
}

button.tab {
    background-color: #FFF4E0;
    padding: 4px;
    margin: 4px;
    width: 80px;
}

div.sql {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}

.menu span {
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

div.menu {
    padding: 4px;
    margin: 4px;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}

h3.menu {
    padding: 4px;
    margin: 4px;
    border-bottom: 1px solid #DDD;
}
