<div class="toolbar">
  <span ng-repeat="entity in entities">
    <button ng-click="switchEntityType(entity.name);" class="tab" ng-class="{selected: activeEntityType.name == entity.name}">{{ entity.name }}</button>
  </span>
</div>

<div ng-if="activeEntityType">
  <span class="entity-title">{{ activeEntityType.name }}</span>
  <span ng-click="newEntity()" title="New" class="button glyphicon glyphicon-new-window" ng-if="activeEntityType.insert"></span>
  <span ng-click="searchEntity()" title="Search" class="button glyphicon glyphicon-search"></span>
  <span ng-click="collapse()" title="Collapse" class="button glyphicon glyphicon-collapse-up"></span>
  <span ng-repeat="field in activeEntityType.fields">
    <span ng-show="field.search">
      {{ field.name }}<input ng-model="searchFields[field.name].value" class="search"/>
    </span>
    <span ng-click="unsetSearchField(field);" title="Unset"
          ng-class="{enabled: searchFields[field.name].value != undefined}"
          class="button disabled glyphicon glyphicon-remove">
    </span>
  </span>
</div>

<div class="message" ng-class="{error: $error}">{{ $error.msg }}</div>

<entity-list entities="entityList" open="openEntity(id)" delete="deleteEntity(id)" type="activeEntityType.name" ng-if="entityList" class="entity-main"></entity-list>

<hr class="entity-main"/>

<entity-editor entity="loadedEntity" reload="searchEntity()" ng-if="loadedEntity"></entity-editor>
